[mysqld]
user                        = mysql
port                        = 3306
datadir			            = /data/lib/mysql
socket			            = /var/lib/mysql/mysql.sock
log-error                   = /var/log/mysqld.log
pid-file                    = /var/run/mysqld/mysqld.pid

skip-name-resolve
skip-external-locking
symbolic-links              = 0
expire_logs_days            = 60
transaction_isolation       = READ-COMMITTED
max_allowed_packet          = 117108864
max_connect_errors          = 1024
max_connections             = 1024
table_open_cache            = 1024
query_cache_limit           = 1M
query_cache_type            = 1
query_cache_size            = 128M
open-files-limit	    = 1048576
interactive_timeout 	    = 600
wait_timeout 		    = 600
connect_timeout 	    = 10
#join_buffer_size            = 32M
#sort_buffer_size            = 32M

character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
init_connect='SET NAMES utf8mb4'

log_timestamps              = SYSTEM
default-time_zone           = '+8:00'

#log-slow-admin-statements
#log-slow-slave-statements
#slow_query_log              = on
long_query_time              = 120
log-queries-not-using-indexes = 1

#innodb_data_file_path       = ibdata1:10M:autoextend
#innodb_buffer_pool_size     = 18G
#innodb_buffer_pool_instances = 1
innodb_open_files            = 6524
innodb_io_capacity           = 1024
innodb_flush_method          = O_DIRECT
#innodb_log_file_size        = 128M
#innodb_log_buffer_size      = 8M
innodb_flush_log_at_trx_commit = 1
# Enabling MySQL 4-byte Support
innodb_file_format          = barracuda
innodb_large_prefix         = true
innodb_file_per_table       = 1

# 主从复制相关
server-id		            = 1
read-only                   = 0
log-bin                     = mysql-bin
relay_log                   = mysql-relay-bin
sync_binlog                 = 20
binlog_format               = ROW
max_binlog_size             = 100M
binlog-checksum             = CRC32
master-verify-checksum      = 1
slave-sql-verify-checksum   = 1
log-slave-updates           = on
sync-master-info            = 1
sync_relay_log_info         = 1
master_info_repository      = TABLE
relay_log_info_repository   = TABLE
log_bin_trust_function_creators=1

plugin-load                 = "rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so"
rpl_semi_sync_master_enabled= 1
rpl_semi_sync_master_timeout= 1000

sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4
